<h2>Edit sub!</h2>

<form class="" action="<%= sub_url(@sub) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Title
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>

  <label>Description
    <input type="textarea" name="sub[description]" value="<%= @sub.description %>">
  </label>

  <input type="submit" name="" value="Submit!">
</form>
