<h2>Create a new sub!</h2>

<form class="" action="<%= subs_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Name
    <input type="text" name="sub[name]" value="">
  </label>

  <label>Description
    <input type="textarea" name="sub[description]" value="">
  </label>

  <input type="submit" name="" value="Submit!">
</form>
